@import "../scss/variable";

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
  background-color: var(--background-color);
  color: var(--font-color);
  min-height: 100vh;
  transition: all 0.2s ease-in;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}
