@import "../../scss/mixins";

.hero {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 5vh 5%;
  max-width: 1440px;
  position: relative;
  overflow: hidden;

  .hero_details_container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-shrink: 1;

    .heading__container {
      .heading__name,
      .heading__about {
        @include fluid-type(32px, 44px);
        font-weight: 500;
        letter-spacing: 1px;
      }

      .heading__name {
        @include fluid-type(32px, 46px);
        color: var(--heading-color);
        font-weight: 600;
      }

      .about__text {
        display: block;
        margin-top: 35px;
        @include fluid-type(18px, 22px);
        color: var(--font-color);
      }

      .socials__container {
        display: flex;
        list-style: none;
        margin-top: 15%;

        .socials {
          padding: 5px;
          background: var(--font-color);
          height: 50px;
          width: 50px;
          border-radius: 50%;

          &:not(:last-child) {
            margin-right: 5%;
          }

          .socials_link {
            .social_image {
              filter: var(--svg-filter);
              transition: all 0.2s ease-in;
            }
          }
        }
      }
    }
  }

  .lottie_container {
    width: 50%;
    position: relative;
    transform: scale(1.3);
    flex-shrink: 0;

    .lottie__player {
      width: 100%;
      height: 100%;
    }
  }
}
